*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;

}
.main{
    height: 100%;
    width: 100%;
    
    background-image: url(https://images.unsplash.com/photo-1764471243156-5709bb76c7c8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mid{
    background-color:transparent;
    padding: 50px;
    height:80%;
    width: 70%;
    margin:30px 40px;
    border: solid 5px wheat;
    border-radius:25px;
    
    text-align: center;
    
    
}
h1{
    font-size: 65px;
    margin-bottom: 50px;
    color:crimson;
    transition: 0.1s;
}
h1:hover{
    color:mediumseagreen
}
button{
  background-color: #e5ea50;
  color: rgba(10, 1, 1, 0.903);
  border: none;
  padding: 12px 20px;
  margin-top:55px ;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;

}button:hover{
     background-color: #ee6b51;
}